[Unit]
Description=ASF Voter Gateway

[Service]
Type=simple
WorkingDirectory=/opt/voter-gateway
ExecStart=/usr/local/bin/poetry run gateway.py
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=always
User=www-data
Group=www-data
LogLevelMax=info

[Install]
WantedBy=multi-user.targe
t